<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">

      <h2 class="text-primary">Sign up [ユーザー]</h2>
      <%= render 'form', user: @user %>

      <%= render "users/shared/links" %>

    </div>
  </div>
</div>
